<%- include('../includes/header') %>
<%- include('../includes/navbar') %>

<body>

  <div class="jumbotron text-center">
    <h1 class="display-4"> PAINEL ADMIN </h1>
    <p class="lead"> Este é o painal administrativo do blog. </p>
    <hr class="my-4">
    <p> Descrição detalhada aqui. </p>
  </div>


</body>

<%- include('../includes/footer') %>